{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">

    {% for post in post_list %}
        <div class="post">
            <hr>

            <h1><a href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
                <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
            </div>
            <a href="{% url 'blog_app:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
        </div>
        <hr>
        <br>
    {% endfor %}
</div>
{% endblock %}
